.cart_modal{
    /* display: flex !important; */
    align-items: end;
}
.cart_dialog {
    float: right !important; 
    height: 100% !important;
    width: 40%;
    color: black;
    
}
.cartModal_Content{
    height: 100%;
    border-radius: 20px 0px 0px 20px ;
}
.name_p{
    font-size: 115%;
    font-weight: 600;

    /* font-family: "orbitron"; */
}
.linea_inferior_p{
    border-bottom: 1px solid #631DA6;
}

.opciones_pago, .purple{
    color: #631DA6;
}
.p_name, .purple{
    /* font-size: 100%; */
    font-weight: 500
}
.delete{
    width: 10%;
    height: 20%;
}
label{
    font-family: "orienta";
}
.pagar{
    font-size: 100%;
    width: 80%;
    color: white;
    background-color: #20085F;
}
.precio_producto{
    font-size: 105%;
}
