
.details_modal{ 
    background-color: transparent;
    backdrop-filter: blur(5px);
}
.modal-header {
    border-bottom: none; 
}

.background_linear {
    position: relative;
    border-radius: 30px; /* Bordes redondeados para el contenedor del modal */
    padding: 2px; /* Espacio para el borde degradado */
    background: linear-gradient(90deg, #A739D1, #ED14CA, #4B21CC); /* Degradado */
    overflow: hidden; /* Asegura que los bordes estén bien contenidos */
}

.detailsModal_content {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para efecto de elevación */
    width: 100%;
    border-radius: 30px;
}
.imagen_{
    width: 89%;
}
.price_{
    font-size: 112%;
    font-weight: 400;
}
.guarantee{
    font-size: 85%;
    font-weight: 400;
}
.titulo_details{
    font-size: 110%;
    font-weight: 600;
}
.subtitle{
    border-bottom: 1px solid;
}
.tecnicas{
    font-size: 85%;
    font-weight: 600;
}
.ul .li{
    font-size: 88%;

}
.add_cart{
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    z-index: 1; /* Asegura que el botón esté por encima del pseudo-elemento */
    cursor: pointer;
    background-color: #ffffff; /* Fondo blanco por defecto */
    border: none; /* Elimina el borde predeterminado */
    border-radius: inherit; /* Hereda el border-radius del contenedor padre */
    transition: background-color 0.3s ease;
    font-size: 85%;
    width: 85%;
}
.add_cart {
    border-radius: 20px;
}

/* Pseudo-elemento para el borde degradado */
.add_cart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Coloca el pseudo-elemento detrás del botón */
    border-radius: inherit; /* Asegura que el pseudo-elemento siga las esquinas redondeadas */
    padding: 2px; /* Ancho del borde degradado */
    background: linear-gradient(90deg, #A739D1, #ED14CA, #4B21CC); /* Degradado */
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}