.card-container {
    position: relative;
    border-radius: 30px; /* Bordes redondeados para la tarjeta */
    padding: 2px; /* Espacio para el borde degradado */
    background: linear-gradient(90deg, #A739D1, #ED14CA, #4B21CC); /* Degradado */
    overflow: hidden; /* Asegura que los bordes estén bien contenidos */
    width: 22%; /* Ajusta el ancho de la tarjeta para que llene el contenedor */

}

.card {
    background-color: white;
    border-radius: 30px; /* Ajustado para que esté dentro del contenedor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para efecto de elevación */
    width: 100%; 
}


 h4{
    font-weight: 600;
    font-family: "inter";
    font-size: 108%;
 }
 
ul li {
    font-family: "inter";
    font-size: 85%;
    /* color: black; */
}
/* Estilo para el botón "Ver Detalles" */
.see, .add {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    z-index: 1; /* Asegura que el botón esté por encima del pseudo-elemento */
    cursor: pointer;
    background-color: #ffffff; /* Fondo blanco por defecto */
    border: none; /* Elimina el borde predeterminado */
    border-radius: inherit; /* Hereda el border-radius del contenedor padre */
    transition: background-color 0.3s ease;
    font-family: "orienta";
    font-weight: 500;
    font-size: 83%;
    width: 45%;
}

.see {
    color: white;
    background-color: #1C0444;
    border-radius: 20px 0 0 20px;
}

.add {
    color: black;
    border-radius: 0 20px 20px 0;
}

/* Pseudo-elemento para el borde degradado */
.see::before, .add::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Coloca el pseudo-elemento detrás del botón */
    border-radius: inherit; /* Asegura que el pseudo-elemento siga las esquinas redondeadas */
    padding: 2px; /* Ancho del borde degradado */
    background: linear-gradient(90deg, #A739D1, #ED14CA, #4B21CC); /* Degradado */
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}

/* Estilo para hover */
/* .see:hover {
    background-color: #3a0967;
}

.add:hover {
    background-color: #f2f2f2;
} */
.price, p{
    font-size: 98%;
    font-family:"orienta";
    font-weight: 400;
}
.chasis{
    width: 55%;
}